@font-face {
    font-family: "VCR_OSD_Mono";
    src: url("../font/VCR_OSD_MONO.ttf");
}

html {
    font-family: "VCR_OSD_Mono";
}

body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

.site-error {
    color: red;
    text-align: center;
}

.header {
    text-align: center;
}

.header h1 {
    text-decoration: underline;
}

.header-img {
    width: 100%;
    max-width: 20%;
    height: auto;
}

.action-btns a, .modal-dialog form input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    border: dotted 2px;
    font-family: "VCR_OSD_Mono";
    font-size: 16px;
    padding: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.action-btns a:hover, .modal-dialog form input[type="submit"]:hover {
    background-color: gray;
}

#favourites-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.favourite {
    text-align: center;
    border: 1px solid;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
}

.modal-dialog p {
    text-align: justify;
}

.modal-dialog form div {
    margin: 16px;
}

.modal-dialog form input, .modal-dialog form label {
    display: block;
}

.modal-dialog form input[type="text"], .modal-dialog form input[type="url"] {
    font-size: 16px;
    padding: 16px;
    margin: 4px;
}

.close {
    background-color: none;
    color: white;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border: 1px dotted;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background-color: gray;
}

.close a {
    display: inline-block;
    text-decoration: none;
    border: dotted 2px;
    font-family: "VCR_OSD_Mono";
    font-size: 12px;
    padding: 12px;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 474px) {
    .modal-dialog > div {
        width: 90%;
    }
}
