.contextual-menu ul {
    width: 500px;
}

.contextual-menu ul li ul {
    list-style-type: none;
    margin: 5;
    width: 100%;
}

.contextual-menu a {
    display: block;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    background: #00f;
    color: #fff;
    padding: 0.5em;
}

.contextual-menu li {
    display: inline;
}

.contextual-menu table td {
    display: block;
}

.contextual-menu table td .des {
    text-align: left;
}

.contextual-menu .hover {
    background: black;
}
